
  <h2>Hasil Perhitungan</h2>

  <p>Pendapatan: <%= revenue %></p>
  <p>Total Biaya: <%= totalCost %></p>
  <p>Profit: <%= profit %></p>
  <p>Margin: <%= margin.toFixed(2) %> %</p>

  <a href="/">Kembali</a>
